resources:
- db-service.yaml
- explainshell-ingress.yaml
- mongodb-deployment.yaml
- namespace.yaml
- secret.yaml
- web-deployment.yaml
- web-service.yaml
namespace: explainshell
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/explainshell_web
  newTag: de5c4af9a2f9251217995c35321120d1e6861424
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/openeuler/common/explainshell_web
  newTag: 243f222b671342f29d6a62e56cff179932b217ff
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/openeuler/explainshell
  newTag: 243f222b671342f29d6a62e56cff179932b217ff
