resources:
- namespace.yaml
- deployment.yaml
- service.yaml
- secrets.yaml
commonLabels:
  app: sync-bot
namespace: sync-bot
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.ap-southeast-1.myhuaweicloud.com/opensourceway/sync-bot
  newName: swr.ap-southeast-1.myhuaweicloud.com/opensourceway/sync-bot
  newTag: 37da9242c405e3a9fe23b767f36f1246b03271ee
