resources:
- deployment.yaml
- namespace.yaml
- service.yaml
- ingress-backend.yaml
- secrets.yaml
- ingress-main.yaml
- cibot-service.yaml
- www-ingress.yaml
- meeting-service.yaml
- cve-backend.yaml
- purge-cache.yaml
- purge-secrets.yaml
- other-ingress.yaml
#- oauth-proxy.yaml
commonLabels:
  app: openeuler-website-v2
namespace: website-v2
#patchesJson6902:
#- path: selector.yaml
#  target:
#    kind: Service
#    name: newyear-backend
#    version: v1
#- path: selector.yaml
#  target:
#    kind: Service
#    name: newyear-frontend
#    version: v1
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.ap-southeast-1.myhuaweicloud.com/opensourceway/openeuler-website-backend
  newName: swr.ap-southeast-1.myhuaweicloud.com/opensourceway/openeuler-website-backend
  newTag: c8ce64b630ec92c84b441612489023
- name: swr.ap-southeast-1.myhuaweicloud.com/opensourceway/openeuler-website-frontend
  newName: swr.ap-southeast-1.myhuaweicloud.com/opensourceway/openeuler-website-frontend
  newTag: c8ce64b630ec92c84b441612489023
