resources:
- deployment.yaml
- namespace.yaml
- service.yaml
- ingress.yaml
- secrets.yaml
- purge-cache-job.yaml
commonLabels:
  app: openeuler-website-v2
commonAnnotations:
  email: 245462755@qq.com
  owner: zhengyuhang
namespace: website-v2
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/openeuler/openeuler-website-backend
  newTag: e7edc712c1c4b21dda5e1629286314
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/openeuler/openeuler-website-frontend
  newTag: e7edc712c1c4b21dda5e1629286314
