apiVersion: kustomize.config.k8s.io/v1beta1
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/openeuler/openeuler-usercenter
  newTag: 5126f05d2fcf36bc04b25ebaff021fae56e4a4aa
kind: Kustomization
namespace: openeuler-usercenter
resources:
- namespace.yaml
- website-ingress.yaml
- website-service.yaml
- website-deployment.yaml
- secret.yaml
