resources:
- deployment.yaml
- namespace.yaml
- service.yaml
- secret.yaml
- ingress.yaml
namespace: api-cve
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/cve-sa-backend/api-cve
  newTag: fefe04f74a4711e3405e1c231968c52e59bef982
