resources:
- deployment.yaml
- namespace.yaml
- service.yaml
- secret.yaml
- ingress.yaml
namespace: api-cve
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/cve-sa-backend/api-cve
  newName: swr.cn-north-4.myhuaweicloud.com/opensourceway/cve-sa-backend/api-cve
  newTag: 65d18b51dff0cfc2b86ead02947d6ee57a11041a
