resources:
- namespace.yaml
- website-deployment.yaml
- backend-deployment.yaml
- service.yaml
- ingress.yaml
- secret.yaml
commonAnnotations:
  email: 747802914@qq.com
  owner: liuyang
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: openeuler-reproducible
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/openeuler/openeuler-reproducible-backend
  newTag: v1.0.20230310170018
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/openeuler/openeuler-reproducible-website
  newTag: 9caa1afe0a6b4d8ba28a38fa070c0b7664c62311
