resources:
  - ingress.yaml
  - namespace.yaml
  - service.yaml
commonLabels:
  app: openlookeng-repo
commonAnnotations:
  owner: caozhi
  email: "caozhi1214@gmail.com"
patchesJson6902:
  - target:
      group: ""
      version: v1
      kind: Service
      name: openlookeng-repo-internal
    path: selector.yaml
namespace: openlookeng-repo
