resources:
- deployment.yaml
- namespace.yaml
- service.yaml
- secret.yaml
- redis-service.yaml
- redis-statefulset.yaml
- pvc.yaml
namespace: omni-manager-backend
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/omni/omni-manager-backend
  newTag: b19e31dc95beb798492059ea7a21c430274d1380
